.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px #f7f7f7;
    border-radius: 7px;
    padding: 30px 30px;
    gap: 20px;
}

.header{
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0px 8px;
}.title{
    font-size: 30px;
    font-weight: 500;
    color: #2F4CDD;
    font-family: "Gabarito";
    padding-right: 15px;
}.selectors{
    display: flex;
    align-items: center;
    gap: 20px;
}



.chartTypeSelector{
    display: flex;
    align-items: center;
    gap: 8px;
}