.body {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.MainContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
}

.header{
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
    padding: 50px 50px 20px 50px;
    box-shadow: 4px 4px 5px #b3b3b331;
    z-index: 500;
}.title{
    font-size: 38px;
    font-weight: 600;
    color: #2F4CDD;
    font-family: "Gabarito";
    padding-right: 15px;
}.headerText{
    font-size: 16px;
    font-weight: 400;
    color: #e4e4e4;
    font-family: "Open Sans", sans-serif;
}